<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width" />

  	<title>{{page.title}}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/custom.css" />
	
	<script src="{{site.baseurl}}/javascripts/vendor/custom.modernizr.js"></script>


<!-- Mapbox API 
	<script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
-->
</head>
<body>